<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>https://rifq.onrender.com</string>
	<key>AUTH_BASE_URL</key>
	<string>https://rifq.onrender.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.68176423413-uvu0od4sog6hiqnegaer9s44bo4qcgsa</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>GEMINI_API_KEY</key>
	<string>YOUR_GEMINI_API_KEY_HERE</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
