<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AUTH_BASE_URL</key>
	<string>http://localhost:3000</string>
	<key>API_BASE_URL </key>
	<string>http://localhost:3000</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.68176423413-uvu0od4sog6hiqnegaer9s44bo4qcgsa</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>GEMINI_API_KEY</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to your microphone to record audio messages in chats.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs access to your calendar to track pet appointments, medication reminders, and vaccinations.</string>
</dict>
</plist>
